<div id="nav-bar">
    <a href="#!home"> <button class="nav-button"> Home </button></a>
    <a href="#!empDetails"> <button class="nav-button"> Employee Details  </button></a>
    <a href="#!empList"> <button class="nav-button"> Employee List  </button></a>
    <a href="#!login"> <button class="nav-button"> Log-in </button></a>


</div>
<div>{{msg}}</div>
<div>{{smsg}}</div>
<div class="container">

    <div class="wrapper">
        <form action="home.html" class="form-signin" ng-submit="formSubmit()" >
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" ng-model="username" class="form-control" name="username" placeholder="User Name" required="" autofocus="" />
            <input type="password" ng-model="password" class="form-control" name="password" placeholder="Password" required=""/>
            <a href="#!home.html"> <button type="submit" class="btn btn-lg btn-primary btn-block" data-ng-click="login()">Login</button> </a>
            <!--<button type="submit" class="btn btn-success">Login</button>-->
        </form>
    </div>


</div>